body{
    margin: 0 auto;
    width: 1500px
}
#logo {
    width: 100%;
    margin: 5px;
}

#logo img {
    height: 70px;
    width: 300px;
}

#wrapper {
    width: 100%;
    background-color: #FFE7C3;
    margin: 5px;
    overflow: hidden;
}

#menu li {
    display: inline;
    background-color: black;
    color: white;
    padding: 10px 50px;
    border-radius: 12px 12px 8px 8px;
    margin: 2px;
}

#menu {
    margin-left: 300px;
}

#menu li:hover {
    background-color: #38095E;
}

#kategooriad {
    float: left;
    width: 250px;
    overflow: hidden; /* et div püsiks wrapperi sees. Float tegi katki */
    margin-top: 70px;
}

#content {
    float: left;
    overflow: hidden;
    margin-left: 125px;
    width: 700px;
}

a:link{
    color:white;
    text-decoration: none;

}
a:visited {
    color:white;
    text-decoration: none;
}

#kategooriad li {
    list-style: none;
    background-color: black;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 12px 12px 12px 12px;
    margin: 2px;
}
#kategooriad li:hover {
    background-color: #38095E;
}

#tabel {
    width: 700px;
    border-spacing: 45px;
}
#tabel td {
    border: dotted;
    padding: 45px;
    max-width: 25px
}
#login a {
    color: darkorange;
    text-decoration: underline;
    font-size: small;
    float: right;
}
#ankeet a {
    color: darkorange;
    text-decoration: underline;
    font-size: small;
    float: right;
}
#dialog_log {
    display: none;
}
#dialog_reg {
    display: none;
}

.toote-pilt {
    width: 100px;
    height: 100px;
}
.toodete-nimekiri li {
    width: 200px;
    display: inline-block;
    list-style: none;
}
.toodete-nimekiri a {
    color: darkorange;
}
.pilt {
    width: 300px;
    height: 300px;
}
#vormista {
    float: right;
    color: blue;
    text-decoration: underline;
}
.ost td {
    border: solid 1px;
    padding: 25px;
    max-width: 105px;
}
#lisa a {
    float: right;
    color: darkorange;
    text-decoration: underline;
}
#admin td {
    border: solid 1px;
    border-color: #000000;
}

#tooted a {
    color: darkorange;
    text-decoration: underline;
}