<?php
    require('pais.html');
?>
<div>
    <table id = "admin">
        <tr>
            <td>ID</td>
            <td>Kategooria ID</td>
            <td>Nimi</td>
            <td>Kirjeldus</td>
            <td>Hind</td>
            <td></td>
        </tr>

        <?php
        foreach($tooted as $toode){ ?>
            <tr id = "tooted">
                <td><?= $toode['id']; ?></td>
                <td><?= $toode['kid']; ?></td>
                <td><?= $toode['nimi']; ?></td>
                <td><?= $toode['kirjeldus']; ?></td>
                <td><?= $toode['hind']; ?></td>
                <td><a href="admin.php?action=delete&id=<?=$toode['id']?>">Kustuta</a></td>
            </tr>

            <?php } ?>
    </table>
    <?php
    if(isset($errors)){
        echo "<div style='color: red'>$errors</div>";
    }
    ?>

    <form action="admin.php" method="post">
        <div>
            Kategooria ID: <select name="kid">
            <option value="1">Ilukirjandus</option>
            <option value="2">Lastekirjandus</option>
            <option value="3">Tehnika ja teadus</option>
            <option value="4">Kasutatud kirjandus</option>
        </select>
        </div>
        <div>
        Nimi: <input type="text"  name="nimi"/>
        </div>
        <div>
        Kirjeldus: <input type="text" name="kirjeldus"/>
        </div>
        <div>
        Hind: <input type="text" name="hind"/>
        </div>
        <div>
            Pilt: <input type="text" name="pilt"/>
        </div>
        <input type="hidden" name="action" value="lisa"/>
        <input type="submit" name="Lisa" value="Lisa">
    </form>
</div>
<?php
    require('jalus.html');
?>