<?php
    require('pais.html');
?>
<ul class="toodete-nimekiri">
    <?php
            foreach ($tooted as $toode) {
        ?>
    <li>
        <a href="toote_info.php?id=<?= $toode["id"] ?>">
        <figure>
                <img class="toote-pilt" src="images/<?= $toode['pilt']; ?>"/>
                <figcaption><?= $toode["nimi"] ?><br/><?=$toode["hind"]?>€</figcaption>
            </figure>
        </a>
    </li>
    <?php
            }
        ?>
</ul>
<?php
    require('jalus.html');
?>