<?php
    require('pais.html');
?>
        <h2>Meist</h2>
        <p>Me loodame, et R on hubane koht, kuhu on alati hea tulla. Siin on kümneid tuhandeid raamatuid – kõik vajalik kvaliteetse aja sisustamiseks.
         Igakuiselt täieneb R raamatute valik ligi 700 uue nimetuse võrra ja seda nii paberil kui digitaalselt. Mugavateks, kiireteks ja turvalisteks ostudeks kasutage julgesti ka R e-poodi.
        <p>R soovib, et Sa naudiksid oma vaba aega!</p>
<?php
    require('jalus.html');
?>