<?php
    require('pais.html');
?>
<h2>Ostukorvi tooted</h2>
<table class="ost">
<?php

foreach($ostukorv as $toode){ ?>
    <tr><td><?= $toode["nimi"] ?></td>
    <td><?=$toode["hind"]?>€</td></tr>

<?php }
?>
</table>
<a id = "vormista" href="ostukorv.php">Vormista ost</a>
<?php
    require('jalus.html');
?>