<?php
    require('pais.html');
?>
        <h2>Tarnimine</h2>
        <h3>Kuidas kaubad Sinuni jõuavad?</h3>
        <p>
            Tavaline tellimuse kohaletoimetamise aeg on kuni 7 ja Eesti Postiga kuni 14 tööpäeva (v.a. juhul, kui pakis sisalduvad välismaalt tellitud raamatud, ettetellitavad tooted või kui pakk tellitakse välismaale).
            Tellitud kaubad jõuavad Sinuni kiiremini, kui valid kohaletoimetamiseks kulleri, SmartPOSTi või Post24.
            Kui kauba saatmine on meist sõltumata põhjustel häiritud, võtame teiega ise ühendust, teavitades tekkinud probleemist. Puuduva kauba asemele on võimalik valida asendustoode või saada raha tagasi.
        </p>
        <h3>Millised on saatekulud?</h3>
        <p>
          <ol>
            <li>Eesti Posti postkontorisse saatmine 3,77€</li>
            <li>Eesti Posti kulleriga (ELS) on Eesti piires kauba tarne 3.99€</li>
            <li>POST24 pakiautomaati viiakse kaup saatekuluga 2,79€</li>
            <li>SmartPOSTi pakiautomaati viiakse kaup saatekuluga 2,79€</li>
          </ol>
        </p>
<?php
    require('jalus.html');
?>