<?php
    require('pais.html');
?>
        <img class="pilt" src="images/<?= $toode['pilt']; ?>"/>
        <h2><?= $toode["nimi"] ?></h2>
        <h3>Hind <?=$toode["hind"]?>€</h3>
        <p><?= $toode["kirjeldus"] ?></p>

        <p id="lisa">
<?php
            if($_SESSION['user']){
                echo "<a href='ostukorv.php?id=".$toode['id']."' title>Lisa toode ostukorvi</a>";
}

?>
        </p>
<?php
    require('jalus.html');
?>